<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management Menu</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Inventory Management System</h1>
    <div class="menu">
        <button onclick="location.href='/view-inventory'">View Inventory</button>
        <button onclick="location.href='/place-orders'">Place Orders</button>
        <button onclick="location.href='/update-stock'">Update Stock</button>
        <button onclick="location.href='/user-management'">User Management</button>
    </div>
</body>
</html>
