<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Inventory Management</title>
  </head>
  <body>
    <nav>
        <h4>Inventory Management System</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Database Project - Home Page</h1>
            <p class="lead">This is a simple web application that uses JavaScript and mySQL to allow users to interact with a relational database that is used for inventory management purposes</p>
            <hr class="my-4">
            <p>The functionality available to each user will depend on their job title. E.g. Employees can view/update the inventory, Supervisors can do that and place orders, Managers can do everything and add users</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
  </body>
</html>