<!DOCTYPE html>
<html>
<head>
    <title>View Inventory</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <style>
        
        .menu-link {
            position: fixed;
            bottom: 10px; 
            left: 10px; 
        }
    
        .menu-link button {
            background-color: #142d4c;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
        }
    
        .menu-link button:hover {
            background-color: hsl(211, 96%, 61%);
        }
    </style>
    
</head>
<body>
    <h1>View Inventory</h1>
    


    <table>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        
        <% inventoryData.forEach(item => { %>
            <tr>
                <td><%= item.ProductName %></td>
                <td><%= item.PDescription %></td>
                <td>$<%= item.Price %></td>
                <td><%= item.Quantity %></td>
            </tr>
        <% }); %>
    </table>
    
    

    
    <div class="menu-link">
        <button onclick="location.href='/Menu'">Return to Menu</button>
    </div>



    <!-- is this a better approach? -->
    
    <!-- <div class="menu-link">
        <button id="returnToMenuBtn">Return to Menu</button>
    </div> -->

    <!-- <script>
        document.getElementById('returnToMenuBtn').addEventListener('click', function() {
            window.location.href = ''; // Update the URL to the correct path
        });
    </script> -->

   
    
</body>
</html>
